h1 {
    display: flex;
    justify-content: center;
}
body {
    font: normal 1em "Fira Sans", "Helvetica Neue", sans-serif;
    background: whitesmoke;
    color: black;
    height: 100vh;
}
.flex-page {
    flex-flow: column nowrap;
}
.oculto {
    visibility: hidden;
    position: absolute;
}
.border {
    border: 10px solid goldenrod;
}
.submit {
    height: 30px ;
    background: orange;
}
.submit-section {
    display:flex;
    justify-content: flex-end;
    flex: auto;
}
.form-section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
input{
	margin-left: 20px;
}
.parrafo{
    margin-left: 20px
}
.margin{
    margin-left: 10px;
}
