body{
    background-color: #FFBFCB;
}
header, nav, footer{
    text-align: center;
}
section{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
header, nav , footer, article{
    border: 3px solid black;
    margin: 7px;
}
header{
    background-color: #FFA500;
}
nav, footer{
    background-color: #808080;
}
.izq{
    display: flex;
    justify-content: center;
    background-color: #ADD8E6;
}
.dere{
    display: flex;
    justify-content: center;
    background-color: #90EE8F;
}
.izq, .dere{
    width: 50%;
}