h1{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: black;
}
.contenedor{
    display: flex;
}
.parte1,.parte2,.parte3{
    width: 30%;
}
.parte1 ul li:nth-child(2) {
    font-weight: bold;
}
li:hover{
    color: yellow;
}
li a:hover{
    color: yellow;
}
.parrafo::before{
    content: "#";
}