
body {
  text-align: center;
  height: 90vh;
}
header {
  text-align: center;
  clear: both;
  background-color: orange;
  border: 3px solid blue;
  border-radius: 10px;
}
nav {
  background-color: red;
  float: left;
  width: 30%;
  height: 70vh;
  clear: both;
  border: 1px dotted greenyellow;
  padding-left: 15px;
}
.sev:hover{
    background-color: blanchedalmond;
    color: black;
}
.mad:active{
    color: coral;
}
.gran:hover{
    font-size: larger;
    color: aquamarine;
}
.ovie:active{
    text-transform: uppercase;
    color: chartreuse;
}
.super{
    float: left;
}
#container {
  width: 700px;
  margin: 0px auto;
  text-align: left;
}
article {
  margin-left: 225px;
}
footer {
  background-color: green;
  clear: both;
  border: 3px solid orange;
  border-radius: 10px;
}
.contenedor{
  display: inline-block;
  width: 90%;
  padding: 0px;
  margin-top: 0px;
  margin-left: 5px;
}
.nav{
  list-style: none;
  background-color: rgb(195, 213, 246);
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}